:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--font-color);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  // Colors
  --font-color: rgba(255, 255, 255, 0.87);
  --font-color--hover: rgba(255, 255, 255, 1);
}

::placeholder {
  opacity: 0.6;
}

a {
  font-weight: 500;
  color: var(--font-color);
  text-decoration: none;
}
a:hover {
  color: var(--font-color--hover);
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 1em;
}
button:hover {
  border-color: var(--font-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled:hover,
button:disabled:focus,
button:disabled:focus-visible {
  border-color: transparent;
  outline: none;
  cursor: not-allowed;
}

input {
  width: 100%;
  background: #1a1a1a;
  margin-bottom: 1em;
}

.card {
  padding: 2em;
  margin: 1em;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

code {
  background: rgba(0, 0, 0, 0.2);
  padding: 0 0.2em;
}
